.gradient0 {
    background: linear-gradient(
        -60deg,
        rgb(92, 193, 224),
        rgb(130, 90, 224) 33.33%,
        rgb(92, 193, 224) 66.66%,
        rgb(130, 90, 224) 100%
    );
    background-size: 300% 300%;
}

.gradient1 {
    background: linear-gradient(
        -60deg,
        rgb(223, 164, 54),
        rgb(224, 104, 67) 33.33%,
        rgb(223, 164, 54) 66.66%,
        rgb(224, 104, 67) 100%
    );
    background-size: 300% 300%;
}

.gradient2 {
    background: linear-gradient(
        -60deg,
        rgb(30, 201, 135),
        rgb(43, 136, 136) 33.33%,
        rgb(30, 201, 135) 66.66%,
        rgb(43, 136, 136) 100%
    );
    background-size: 300% 300%;
}

.gradient3 {
    background: linear-gradient(
        -60deg,
        rgb(199, 76, 107),
        rgb(136, 43, 131) 33.33%,
        rgb(199, 76, 107) 66.66%,
        rgb(136, 43, 131) 100%
    );
    background-size: 300% 300%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    animation: gradient 8s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    display: block;
    text-align: center;
}

#title {
    font-size: 4em;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: white 0px 0px 4px;
}

#links {
    margin-top: 1em;
}

.link-button {
    display: inline-block;
    padding: 0.5em 0.5em;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    scale: 1;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease, scale 0.2s ease, color 0.2s ease;
}

.link-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    scale: 1.03;
}

.link-button:active {
    scale: 0.98;
}
